.navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  font-family: Arial;
}

.navbar a, .dropbtn {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
  cursor: pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a.active {
  background-color: #d00 !important;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .navbar a, .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    float: none;
  }
  
  .dropdown-content {
    position: relative;
  }
}